<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Under Consturtion</title>
  </head>
  <body>
    <style>
      body {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
      }
      main {
        width: 80%;
      }
    </style>
    <h1>Page under construction!</h1>
    <h2>Page is current still to be developed. Check back at a later date!</h2>
    <button>Go back!</button>
    <script>
      let btn = document.querySelector("button");
      console.log(btn);
      btn.addEventListener("click", function () {
        history.go(-1);
      });
    </script>
  </body>
</html>
