* {
  --green-text: rgb(30, 255, 0);
  --green-glass: rgba(30, 255, 0, 0.2);
  --red-text: rgb(255, 30, 0);
  --red-glass: rgba(255, 30, 0, 0.2);
  --black-glass: rgba(0, 0, 0, 0.8);
  --black-glass-burger: rgba(0, 0, 0, 0.9);
  --lnk-color: rgb(0, 255, 136);
  --green-dark: rgb(15, 129, 0);
  color: var(--green-text);
  box-sizing: border-box;
  font-family: "JetBrains Mono", "Courier New", serif;
}
body {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: radial-gradient(#1b1b1b, rgb(2 12 1));
}
h1,
h2,
h3,
h4,
h5,
h6 {
  display: flex;
  width: 100%;
}
h1 {
  font-size: 2.7rem;
  font-weight: bold;
}
h2 {
  font-size: 2.4rem;
  font-weight: bold;
}
h3 {
  font-size: 2.1rem;
  font-weight: 500;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-weight: bold;
}
p {
  margin-top: 20px;
  display: block;
}
strong {
  font-weight: bold;
}
input,
textarea,
select {
  border: 2px solid;
  border-radius: 5px;
  margin-bottom: 2px;
  background-color: transparent;
  padding: 5px;
}

input[type="text"]:focus,
input[type="text"]:active,
input[type="text"]:-webkit-autofill,
input[type="url"]:focus,
input[type="url"]:active,
input[type="url"]:-webkit-autofill,
select:focus,
select:active,
select:-webkit-autofill,
summary:focus,
summary:active,
summary:-webkit-autofill,
option:focus,
option:active,
option:-webkit-autofill,
input[type="url"]:focus,
input[type="url"]:active,
input[type="url"]:-webkit-autofill,
input[type="password"]:focus,
input[type="password"]:active,
input[type="password"]:-webkit-autofill,
input[type="email"]:focus,
input[type="email"]:active,
input[type="email"]:-webkit-autofill,
input[type="number"]:focus,
input[type="number"]:active,
input[type="number"]:-webkit-autofill,
textarea:focus,
textarea:active,
textarea:-webkit-autofill {
  background-color: var(--green-glass);
  border: 2px solid var(--green-text);
  border-radius: 5px;
  appearance: unset;
  outline: none;
  min-width: 35px;
}

select:focus,
select:active,
select:-webkit-autofill,
option:focus,
option:active,
option:-webkit-autofill {
  appearance: menulist;
}

summary:focus,
summary:active {
  background-color: transparent;
  border: none;
}
textarea,
textarea:focus {
  min-width: 220px;
  min-height: 120px;
}
/* input:focus {
  background-color: var(--green-glass);
  border: 2px solid var(--green-text);
  border-radius: 5px;
} */
ul,
ol {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: var(--green-text);
}
.navbar {
  display: flex;
  width: 100%;
  height: 80px;
  box-sizing: content-box;
  border-top: 5px solid var(--green-glass);
  border-bottom: 5px solid var(--green-glass);
  align-items: center;
  padding: 0px 30px;
  justify-content: center;
  box-shadow: 1px 1px 7px 7px black;
  position: fixed;
  background-color: var(--black-glass);
}
.navbar strong {
  font-size: 2rem;
  color: var(--green-text);
}
.menu_burger {
  display: flex;
  border: 2px solid;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: 60px;
  height: 50px;
  width: 50px;
  padding: 10px;
}
.menu_burger.open {
  color: var(--red-text);
  background-color: var(--red-glass);
}
.menu_burger.open div {
  background-color: var(--red-text);
}
.menu_burger div {
  display: block;
  background-color: var(--green-text);
  width: 32px;
  height: 4px;
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
}
.menu_burger.open > .burger_top {
  transform: rotate(-45deg) translate(-9px, 5px);
}
.menu_burger.open > .burger_middle {
  opacity: 0;
}
.menu_burger.open > .burger_bottom {
  transform: rotate(45deg) translate(-8px, -9px);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0%;
  width: 0%;
  transition: height 1s ease-in-out;
  overflow: hidden;
}
nav.burger_menu {
  margin-top: 90px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--black-glass-burger);
  border-bottom: 5px solid var(--green-glass);
  position: fixed;
  font-size: 2rem;
  z-index: 3;
}
nav.burger_menu li {
  height: auto;
  margin-top: 50px;
}
nav.burger_menu details {
  text-align: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
nav.burger_menu details[open] {
  background-color: var(--black-glass);
  border-top: 2px solid var(--green-dark);
  border-bottom: 2px solid var(--green-dark);
}
nav.burger_menu details[open] summary {
  border-bottom: 2px solid var(--green-dark);
}
nav.burger_menu details > a {
  font-size: 1.8rem;
  display: block;
  padding: 5px;
}
nav.show {
  height: 100%;
  width: 100%;
}
nav.burger_menu.show {
  height: 87vh;
}
li {
  display: list-item;
  width: auto;
}
nav li {
  display: flex;
  height: 60%;
  align-items: center;
  margin-left: unset;
  width: auto;
}

button {
  border: 3px solid;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: transparent;
  transition: background-color 500ms ease;
  font-size: 0.8rem;
}
button:hover {
  cursor: pointer;
  background-color: var(--green-glass);
}
a {
  color: var(--lnk-color);
}

::placeholder {
  opacity: 0.5;
}
a:focus,
a:active {
  border: 1px dashed;
}
a:visited {
  opacity: 0.2;
  color: var(--lnk-color);
}
a:hover,
a:hover:visited {
  cursor: pointer;
  border-bottom: 2px solid;
  color: var(--green-text);
}
span.quote {
  display: block;
  margin-left: auto;
  font-style: italic;
  font-size: 1rem;
}
.success {
  color: greenyellow;
}
.error,
.error a,
.error a:visited {
  color: red;
  font-weight: bold;
}
main {
  margin-top: 80px;
  padding: 30px;
}
main.post {
  padding: 0;
}
figcaption {
  text-align: center;
  font-weight: bold;
}
.subtitle {
  margin-top: 15px;
  font-size: 1.7rem;
}

button.cancel {
  color: var(--red-text);
}
button.cancel:hover,
button.delete:hover {
  background-color: var(--red-glass);
}
button.delete {
  color: var(--red-text);
  font-weight: bold;
}

img.avatar {
  width: 150px;
  height: 150px;
  object-fit: scale-down;
  border-radius: 50%;
  border: 5px solid var(--green-glass);
  text-align: center;
  vertical-align: middle;
}
img.avatar_small {
  max-height: 32px;
  border-radius: 50%;
}
.users_form {
  margin-top: 30px;
  display: flex;
  height: 400px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
}
