body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
strong,
em,
div,
input,
ul,
li,
nav,
ol,
img,
button,
a {
  font-size: unset;
  display: unset;
  margin: unset;
  padding: unset;
  border: unset;
  font-weight: unset;
  color: unset;
  box-shadow: unset;
  text-decoration: unset;
  background-color: unset;
  outline: unset;
}
figure {
  margin: unset;
}
::placeholder,
a:hover,
input:focus,
a:visited {
  text-decoration: unset;
  box-shadow: unset;
  border: unset;
  color: unset;
}
